*{
    box-sizing: border-box;
    background-color: 255;
}
body{
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
}
.header {
    padding: 20px;
    background-color: rgb(255, 255, 255);
    color :darkcyan; 
}
.header a{
    text-decoration: none;
    color: Grey;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
.topmenuleft {
    float: left;
}
.topmenuright {
    float: right;
}
.navsection{
    overflow: hidden;
    background-color: #333;
    font-size: 20px
}

.navsection a{
    float: left;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    color:#f2f2f2;
}
.navsection a:hover {background-color: grey;color:black;}

.leftdiv{
    float : left;
    width : 20%;
    height : 100%;
    padding :20px;
    background-color: rgb(255, 255, 255);
}
.leftdiv a{
    display: block;
    padding: 20px 10px;
}
.leftdiv a:hover{
    color:black;
    background-color: grey;
}
.maindiv{
    float: left;
    width : 80%;
    padding :20px;
    background-color: rgb(255, 255, 255);

}
.bottom{
    padding: 2px 20px;
    background-color: grey;
    font-size: 20px;
    color: white;
}